.filter__header {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 20px;
}

.filter__header h1{
    margin-bottom: 15px;
}

.filter-item {
    width: fit-content; 
    font-size: 20px;
    color: rgba(28, 28, 28, 0.5);
    margin-bottom: 5px;
}

.filter-item:hover {
    cursor: pointer;
    user-select: none;
}

.filter-item-active {
    color: #1C1C1C;
}