.store__container {
    display: flex;
    justify-content: space-between;
    gap: 19px;
}

.products__container {
    width: 100%;
    max-width: 1241px;
}

.products__list {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 25px;
}

.products__list-column {
    flex-direction: column;
}

.filters {
    width: 100%;
    max-width: 20.83vw;
    height: 900px;
    background-color: #fff;
    border-radius: 40px;
}

@media (max-width: 576px) {
    .products__list {
        margin-top: 15px;
    }
}