.store__container {
    display: flex;
    justify-content: space-between;
}

.products__container {
    width: 100%;
    max-width: 1241px;
}

.products__list {
    margin-top: 25px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 19px;
    row-gap: 25px;
}
