.store__container {
    display: flex;
    justify-content: space-between;
    gap: 19px;
}

.products__container {
    width: 100%;
    max-width: 1241px;
}

.products__list {
    margin-top: 25px;
    display: flex;
    column-gap: 1.30vw;
    flex-wrap: wrap;
    row-gap: 25px;
}

.products__list-column {
    flex-direction: column;
}

.filters {
    width: 100%;
    max-width: 20.83vw;
    height: fit-content;
    background-color: #fff;
    border-radius: 40px;
    padding-left: 35px;
    padding-top: 35px;
}

@media (max-width: 1325px) {
    .products__list {
        justify-content: space-between;
        /* column-gap: 25px; */
    }
}

@media (max-width: 576px) {
    .products__list {
        margin-top: 15px;
    }
}